{% extends "student/notifications/base_notifications.html" %}
{% load static %}

{% block notification_content %}
<div class="center-empty">
    <img src="{% static 'img/chat_icon.png' %}" class="center-icon">


    <h2>Welcome to Notifications</h2>
    <p>
        Use the sidebar to compose new notifications,
        manage drafts, or view sent notifications.
    </p>

    <a href="{% url 'student:notifications_compose' %}" class="primary-btn">
        ✏️ Compose New Notification
    </a>
</div>
{% endblock %}
